global
    maxconn 4096
    daemon
    quiet

defaults
    mode http
    option http-keep-alive
    option splice-auto
    http-reuse safe
    timeout connect 500ms
    timeout client  5s
    timeout server  5s

frontend http-in
    bind *:9999
    default_backend backend

backend backend
    balance roundrobin
    server app0 unix@/run/app/app0.sock
    server app1 unix@/run/app/app1.sock
