global
    log /dev/null local0
    maxconn 4096
    tune.ssl.default-dh-param 2048
    tune.http.maxhdr 101
    daemon
    quiet

defaults
    log global
    mode http
    option dontlognull
    option http-keep-alive
    option splice-auto
    http-reuse safe
    timeout connect 200ms
    timeout client  5s
    timeout server  5s
    timeout tunnel 3600s

frontend http-in
    bind *:9999
    option forwardfor except 127.0.0.1
    default_backend backend

backend backend
    balance leastconn
    server app0 unix@/run/app/app0.sock check inter 5s fall 2
    server app1 unix@/run/app/app1.sock check inter 5s fall 2