global
    maxconn 8192
    daemon
    quiet
    tune.bufsize 16384
    tune.maxrewrite 1024
    tune.rcvbuf.server 0
    tune.sndbuf.server 0
    tune.pipesize 0

defaults
    mode http
    option http-keep-alive
    option splice-auto
    http-reuse safe
    timeout connect 200ms
    timeout client  3s
    timeout server  3s

frontend http-in
    bind *:9999
    default_backend backend

backend backend
    balance roundrobin
    option prefer-last-server
    server app0 unix@/run/app/app0.sock
    server app1 unix@/run/app/app1.sock
